@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Customização da barra de rolagem para ficar escura */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0d1117; 
}
::-webkit-scrollbar-thumb {
  background: #30363d; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #484f58; 
}